{
	settings = (
		{
			key = showssid;
			displayname = "Show SSID";
			type = bool;
		},
		{
			key = ssidalignment;
			displayname = "SSID Alignment";
			type = list;
			items = (
				{
					displayname = Left;
					value = left;
				},
				{
					displayname = Right;
					value = right;
				},
			);
		},
	);
}